// .container-product{
//     padding: 30px 40px;
//     background-color: #ffdfce;
//     border-radius: 20px;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     color: rgb(78, 78, 78);
//     box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.06);
// }
.color-container-item{
    background-color: #fff;
    border-radius: 24px;
    padding: 20px 30px;
    margin: 10px 20px;
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.06);
    

}