@import "../../css-config/mixins.scss";
.main-header {
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    transition: all .3s;
    background-color: #232323;
    &.is-scroll-top {
        transform: translateY(-100%);
    }
    .header__inner{
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include lg0{
            height: 58px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (min-width: 769px) and (max-width: 1013px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .header-search{
            background-color: #fff;
            height: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            transition: all .3s;
            visibility: hidden;
            width: 100%;
            &.is-active{
                opacity: 1;
                pointer-events: visible;
                visibility: visible;
                z-index: 10;
            }
            form{
                background: #fff;
                display: flex;
                height: 96px;
                width: 60%;
                margin: 0 auto;
                .form-item{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
                .header-search__control {
                    background-color: hsla(0,0%,83%,.4);
                    border: 0;
                    border-radius: 33px;
                    box-shadow: none;
                    height: 50px;
                    padding: 0 20px;
                }
                .one-whole {
                    width: 500px;
                }
                .homepage-search__submit {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    background-color: #0000;
                    border: 0;
                    cursor: pointer;
                    font-size: 24px;
                    color: #5e5e5e;
                }
            }
            .search-content{
                background: #fff;
                border-radius: 10px;
                display: block;
                margin: 10px auto 0;
                overflow: hidden;
                width: 1000px;
                border-bottom: 1px solid #d9d9d9;
                transition: all .2s;
            }
            .search-result-container{
                height: 100%;
                pointer-events: visible;
                position: fixed;
                transition: all .3s;
                width: 100%;
                .search-content__wrapper {
                    background-color: #fff;
                    min-height: 200px;
                    position: relative;
                    z-index: 10;
                    .search-content__inner {
                        display: block;
                        opacity: 1;
                        pointer-events: visible;
                        visibility: visible;
                        width: 100%;
                        padding-top: 40px;
                    }
                }
                .backgroud{
                    background: rgba(0, 0, 0, .6);
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: all .3s;
                    width: 100%;
                }
            }
            .grid__column {
                position: relative;
                box-sizing: border-box;
                min-height: 1px;
                vertical-align: top;
                margin-left: 0!important;
                margin-right: 0!important;
                padding: 9px;
                width: 100%;
            }
            .slick-prev::before, .slick-next::before{
                font-size: 30px;
                color: black;
            }
            .slick-prev, .slick-next{
                z-index: 9999;
                width: 30px;
                height: 30px;
            }
            .slick-prev{
                left: -25px;
                @media (max-width: 1440px) {
                    left: 20px;
                }
            }
            .slick-next{
                right: -25px;
                @media (max-width: 1440px) {
                    right: 20px;
                }
            }
            .slick-slider .slick-list, .slick-slider .slick-track {
                transform: translateZ(0);
            }
            .homepage-products__slides {
                margin-left: -9px;
                margin-right: -9px;
            }
            .product-search_container{
                padding: 0px 50px;
            }
        }
        .header__toggle{
            display: none;
            @include lg0{
                display: flex;
                justify-content: flex-start;
                flex: 1;
            }
            &>div {
                width: 50px;
                height: 50px;
                margin-left: -15px;
            }
            .menu-toggle {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 16px;
                    height: 2px;
                    background-color: #fff;
                    transform: translate3d(-50%, -50%, 0);
                    transition: all .3s;
                    &:first-of-type {
                        top: calc(50% - 5px);
                    }
                    &:nth-of-type(2) {
                        width: 10px;
                        left: 45%;
                    }
                    &:nth-of-type(3) {
                        top: calc(50% + 5px);
                    }
                }
            }
            
        }
        .header-logo {
            height: unset;
            width: 144px;
            a {
                background-color: transparent;
                text-decoration: none;
                color: inherit;
                transform: all .2s;
                img {
                    width: auto;
                    height: 100%;
                }
            }
            @include lg0 {
                height: 40px;
                width: unset;
            }
            @media (min-width: 1014px) and (max-width: 1280px) {
                width: 100px;
                margin-right: 0.8rem;
            }
        }
        .header-content{
            .nav__sub {   
                .nav__sub-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    padding: 38px 20px;
                    font-size: 16px;
                    cursor: auto;
                    @include lg1 {
                        padding: 31px 10px;
                    }
                    &:hover {
                        background-color: #353535;
                    }
                    a{
                        position: relative;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFF;
                        text-transform: uppercase;
                        text-decoration: none;
                        @include lg1 {
                            font-size: 0.675rem;
                        }
                        @include xxl1 {
                           font-size: .875rem;   
                        }
                    }
                }
            }
        }
        .header__actions {
            display: flex;
            align-items: center;
            @include lg0{
                flex: 1;
                justify-content: flex-end;
            }
            .header-actions-search__box {
                position: relative;
                .header-actions-search__field {
                    cursor: default;
                    .header-actions-search__control{
                        border: 0;
                        background-color: #e8e8e8;
                        box-shadow: none;
                        height: 50px;
                        padding: 0 20px 0 40px;
                        border-radius: 33px;
                    }
                    .one-whole {
                        width: 100%;
                    }
                    .header-actions-search__button {
                        position: absolute;
                        top: 13px;
                        left: 10px;
                        width: unset;
                        height: unset;
                        z-index: 10;
                    }
                    a {
                        @include link-styles;
                        svg {
                            @include icon-header;
                            font-size: 22px;
                            text-indent: -9999px;
                            color: #232323;
                        }
                    }
                }
            }
            .header-actions__buttons {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                a {
                    @include link-styles;
                    svg {
                        @include icon-header;
                        font-size: 24px;
                        text-indent: -9999px;
                        color: #fff;
                    }
                }
                .counts {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    position: absolute;
                    right: 8px;
                    bottom: 5px;
                    width: 15px;
                    height: 15px;
                    background-color: #f9f86c;
                    color: #000;
                    font-size: 10px;
                    font-weight: 700;
                    pointer-events: none;
                }
                .header-actions-cart__menu{
                    position: absolute;
                }
            }
        }
    }
    .login{
        cursor: pointer;
    }
}
.nav__sub{
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
}
.nav__sub-active {
    margin-right: 10px;
}
.nav__sub-active {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
.menu-toggle__search {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all .3s;
    svg {
        @include icon-header;
        font-size: 22px;
        text-indent: -9999px;
        color: #FFF;
    }
}
header{
    img {
        @include img
    }
    img {
        text-indent: -9999px;
        color: transparent;
    }
}
