@import "../../css-config/mixins.scss";

#forgot-form {
    .forgot-heading-block{
        margin-bottom: 1rem;
    }
    .title {
        font-size: 2rem;
        margin-top: 0.5rem;
        text-align: left;
        font-weight: 500;
        line-height: 1.125;
    }
    .forgot-btn {
        display: block;
        height: 50px;
        width: 100%;
        padding: 5px 20px;
        background-color: black;
        color: white;
        text-align: center;
        border: none;
        cursor: pointer;
        transition: 0.2s all;
        margin-top: 1rem;
        border-radius: 100vmax;
        margin-bottom: 8px;
        &:hover {
            background-color: #d9d9d9;
            color: black;
        }
    }
    .auth-actions {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: #2f5acf;
        cursor: pointer;
        transition: 0.2s all;
    }
}
.text--center{
    @include text-center;
}
.title{
    @include title
}
.form-group:not(:last-child) {
    margin-bottom: 1rem;
}

.form-group {
    position: relative;
    .form-control {
        border-radius: 100vmax;
        height: 3.125rem;
    }
}
